*{
    background-color: black;
    color: white;
}
.contenedor{
height: 400px;
width: 100%;
}

.contenedor .img{
    height: 400px;
    width: 100%;
}

.contenedor h1{
    display: flex;
    justify-content: center;
}


.info{
    margin-top: 35px;
}


h2{
    display:flex ;
    justify-content: center;
}
li{
    color: aliceblue;
}

p{
    display:flex ;
    justify-content: center;  
}